certifi==2018.4.16
click==6.7
flasgger==0.8.3
Flask==1.0.2
Flask-Cors==3.0.4
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.0
mistune==0.8.3
numpy==1.14.3
pandas==0.22.0
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
Werkzeug==0.14.1
wincertstore==0.2
